.page {
}
.page--header {
}
.logo {
    font-family: 'PT Serif', serif;
}
.nav {
    font-family: 'Roboto', sans-serif;   
}
.start {
}
.services {
}
.about {
}
.blog {
}
.contact {
}
.title {
    font-family: 'PT Serif', serif;  
}
.text {
    font-family: 'Roboto', sans-serif;
}
.button {
    font-family: 'Roboto', sans-serif;
}
.Picture {
}